__pycache__/
*.py[cod]
*.pyo
*.pyd

env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.sqlite3

*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

*.log

*.pot
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

*.env
*.local

lib/
lib64/
bin/
pyenv.cfg

.coverage
nosetests.xml
coverage.xml
*.cover
*.log

.DS_Store
Thumbs.db